* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.editor {
    display: flex;
    flex-flow: column;
    position: fixed;
    width: 100%;
}

.options {
    display: flex;
    gap: 16px;
    padding: 16px;
    background-color: lightseagreen;
}

.options-group {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 4px;
}

textarea {
    width: 100%;
    min-height: 50vh;
    height: auto;
    border: none;
    outline: none;
    padding: 16px;
    font-size: 24px;
    resize: vertical;
    border: 1px solid #d9d9d9;
}

button {
    padding: 8px 16px;
    border-radius: 4px;
    border: 2px solid #d9d9d9;
    outline: none;
    cursor: pointer;
    background-color: #fff;
}

body {
    overflow: hidden;
}

.labels {
    display: none;
}

@media print {
    .editor {
        display: none;
    }

    #labels {
        width: 100vw;
        display: flex;
        flex-flow: column;
    }

    .label {
        width: 19.5cm;
        height: 4.5cm;
        background-color: #ffd900;
        border-bottom: 1px dotted rgb(131, 131, 0);

        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 0.5cm;
        page-break-inside: avoid;
    }

    .label > span {
        font-size: 2.4cm;
        font-weight: 700;
    }

    .label-container > canvas, img {
        width: 3.8cm;
        height: 3.8cm;
    }
 }